<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/images/valu-logo.png" alt="Bootstrap" width="120" height="40">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/listing/employees">{{'Employees' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listing/departments">{{'Departments' | translate}}</a>
        </li>
      </ul>
      <div class="d-flex">
        <select #selectedLang class="form-select" id="inputGroupSelect02" (change)="onChange(selectedLang.value)">
          <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
            {{language}}
          </option>
        </select>
      </div>
    </div>
  </div>
</nav>
