<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar-brand" href="#">
            <img src="../../../../assets/images/valu-logo.png" alt="Bootstrap" width="120" height="40">
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listing/employees">{{'Employees' | translate}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listing/departments">{{'Departments' | translate}}</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
      <li class="language-switch" >
        <select #selectedLang class="form-select" id="inputGroupSelect02" (change)="onChange(selectedLang.value)">
          <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">
            {{language}}
          </option>
        </select>
      </li>
    </ul>
    </div>
  </div>
</nav>
