<div class="home-page-container">
  <div class="about-company">
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-md-4">
          <img src="../../../assets/images/valu.png" class="img-fluid " alt="...">
        </div>
        <div class="col-md-3">
          <div class="brief-text">
            <h1>{{'Who we are?' | translate}}</h1>
            <p>{{'Valu is the leading universal financial technology powerhouse, offering a suite of financial services to individuals and businesses. Since its launch in 2017, Valu continues to provide a wide range of comprehensive and convenient financial solutions and products to its customers.' | translate}}</p>
            <p> {{'Through U, Valu has pioneered BNPL (Buy Now Pay Later) solutions in the MENA region providing customizable financing plans for up to 60 months across more than 6,000 points of sale and over 1,500 online stores, covering a diverse array of categories. Valu also offers investment products, an instant cash redemption program, savings solutions, and a financing solution to facilitate the purchase of big-ticket items up to EGP 15 Million in the luxury space, through AZvalu fund and EFG Hermes ONE, Sha2labaz, Akeed, and Ulter respectively. In addition, Valu offers tools to manage your employees, provide financial services, and more through Valu Business.' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="departments-container container-fluid">
    <div class="row justify-content-md-center">
      <div class="departments-header">
        <h1>{{'Explore Our Departments' | translate}}</h1>
      </div>
      <div class="flip-card-container">
        <div class="card flip-card" style="width: 18rem;height: 23rem;">
          <div class="card-header" style="background-color: white;">
            <h5 class="card-title">{{'Finance' | translate}}</h5>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../../../assets/images/finance.png" class="card-img-top" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <p>{{'Responsible for managing the company finances, including accounting, budgeting, forecasting, and reporting.' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="card flip-card" style="width: 18rem;height: 23rem;">
          <div class="card-header" style="background-color: white;">
            <h5 class="card-title">{{'Marketing' | translate}}</h5>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../../../assets/images/marketing.png" class="card-img-top" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <p>{{'Responsible for developing and executing marketing campaigns to promote the company products and services.' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="card flip-card" style="width: 18rem;height: 23rem;">
          <div class="card-header" style="background-color: white;">
            <h5 class="card-title">{{'Engineering' | translate}}</h5>
          </div>
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="../../../assets/images/engineering.png" class="card-img-top" alt="Avatar">
            </div>
            <div class="flip-card-back">
              <p>{{'Responsible for designing, developing, testing, and deploying the company software products and infrastructure.' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
