@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

html, body {
  height: 100%;
}

.app-container {
  min-height: 100%;
}

.screen-container {
  min-height: 100%;
  overflow:auto;
  padding-bottom:100px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer {
  position: relative;
  margin-top: -150px;
  clear:both;
  padding-top:20px;
}
