<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>{{'Get connected with us on social networks:' | translate}}</span>
    </div>

    <div>
      <a href="https://www.facebook.com/valuegypt" class="me-4 text-reset">
        <i class="bi bi-facebook"></i>
      </a>
      <a href="https://www.google.com/search?q=valu+egypt&sca_esv=571399955&sxsrf=AM9HkKnBaGNvg_qUh04BYBFDAiC1F3e4Ew%3A1696628584854&ei=aH8gZdfkM4y0kdUP7-SvmA4&oq=valu+eg&gs_lp=Egxnd3Mtd2l6LXNlcnAiB3ZhbHUgZWcqAggAMgsQABiABBixAxiDATIFEAAYgAQyBRAAGIAEMgoQABiABBgUGIcCMgUQABiABDIFEAAYgAQyBRAAGIAEMggQABjLARiABDIIEAAYywEYgAQyBRAAGIAESOEnULgQWKQTcAJ4AZABAJgB2AKgAdcFqgEHMC4yLjAuMbgBA8gBAPgBAcICBxAjGLADGCfCAgoQABhHGNYEGLADwgIHECMYigUYJ8ICBBAjGCfCAg4QLhivARjHARiSAxiABMICChAAGIoFGMkDGEPCAggQABiKBRiSA8ICDRAAGIoFGLEDGIMBGEPCAgcQABiKBRhD4gMEGAAgQYgGAZAGCg&sclient=gws-wiz-serp"
        class="me-4 text-reset">
        <i class="bi bi-google"></i>
      </a>
      <a href="https://www.instagram.com/valuegypt/" class="me-4 text-reset">
        <i class="bi bi-instagram"></i>
      </a>
      <a href="https://www.linkedin.com/company/valuegypt/" class="me-4 text-reset">
        <i class="bi bi-linkedin"></i>
      </a>
    </div>
  </section>

  <div class="container text-center text-md-start mt-5">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <p>
          <img src="../../../../assets/images/valu-logo.png" alt="Bootstrap" width="130" height="70">
        </p>
        <p>
          <a href="https://website.valu.live/privacy-policy" class="text-reset">{{'Privacy Policy' | translate}}</a>
        </p>
        <p>
          <a href="https://website.valu.live/terms-conditions" class="text-reset">{{'Terms & Conditions' |
            translate}}</a>
        </p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          {{'Products' | translate}}
        </h6>
        <p>
          <a href="#!" class="text-reset">{{'Angular' | translate}}</a>
        </p>
        <p>
          <a href="#!" class="text-reset">{{'React' | translate}}</a>
        </p>
        <p>
          <a href="#!" class="text-reset">{{'Vue' | translate}}</a>
        </p>
        <p>
          <a href="#!" class="text-reset">{{'Laravel' | translate}}</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          {{'Useful links' | translate}}
        </h6>
        <p>
          <a href="#!" class="text-reset">{{'Pricing' | translate}}</a>
        </p>
        <p>
          <a href="#!" class="text-reset">{{'Settings' | translate}}</a>
        </p>
        <p>
          <a href="#!" class="text-reset">{{'Orders' | translate}}</a>
        </p>
        <p>
          <a href="#!" class="text-reset">{{'Help'| translate}}</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase fw-bold mb-4">
          {{'Contact' | translate}}
        </h6>
        <p><i class="bi bi-house"></i>{{'Arkan Plaza , Al Sheikh Zayed city , First floor Unit AW-417' | translate}}</p>
        <p>
          <i class="bi bi-envelope"></i>
          {{'contact_us@valU.com.eg' | translate}}
        </p>
        <p><i class="bi bi-telephone"></i>{{'16671' | translate}}</p>
      </div>
    </div>
  </div>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    {{'© All Rights Reserved by valU 2023' | translate}}
  </div>
</footer>
